@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
  background-color: #090f1e;
  overflow-x: hidden;
}
@font-face {
  font-family: "FSElliotProBold";
  src: url(../public/fonts/FSElliotPro-Bold.woff2);
}
@font-face {
  font-family: "FSElliotPro";
  src: url(../public/fonts/FSElliotPro.woff2);
}
@font-face {
  font-family: "HalvarBreitBd";
  src: url(../public/fonts/HalvarBreit-Bd.woff2);
}
@font-face {
  font-family: "HalvarBreitBlkSuSlanted";
  src: url(../public/fonts/HalvarBreit-BlkSuSlanted.woff2);
}
@font-face {
  font-family: "HalvarBreitTh";
  src: url(../public/fonts/HalvarBreit-Th.woff2);
}
@keyframes a0_t_c_1_r {
  0% {
    transform: translate(28px, 28px) scale(0, 0) translate(-28px, -28px);
    animation-timing-function: cubic-bezier(0, 0, 0.6, 1);
  }
  to {
    transform: translate(28px, 28px) scale(1, 1) translate(-28px, -28px);
  }
}
@keyframes a1_o_c_1_r {
  0% {
    opacity: 0.6;
  }
  to {
    opacity: 0;
  }
}
.g_1 {
  animation: 0.25s linear both a0_t_c_1_r;
}
.g_2 {
  animation: 0.25s linear both a1_o_c_1_r;
}
.mine_wrap {
  background-image: url(/public/images/border.png);
  background-repeat: no-repeat;
  background-size: auto;

  position: relative;
}
.wrap_full_game {
  position: relative;
}
.wrap_full_game::after {
  background-image: url(/public/images/particles.e53a48ca4d5fff68142d.svg);
  background-size: 89px 69px;
  content: "";
  height: 150px;
  position: absolute;
  width: 150px;
  z-index: 10;

  left: -22px;
  top: -22px;
  -webkit-transform: rotate(-54deg);
  transform: rotate(-54deg);
}
.wrap_full_game::before {
  background-image: url(/public/images/particles.e53a48ca4d5fff68142d.svg);
  background-size: 89px 69px;
  content: "";
  height: 69px;
  position: absolute;
  width: 89px;
  z-index: 20;

  left: 275px;
  top: 310px;
  transform: scaleY(-1);
}

/* minefildActive */
.glow_line {
  position: absolute;
  height: 150%;
  width: 150%;
  -webkit-box-shadow: inset 0px 162px 40px -154px rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 0px 162px 40px -154px rgba(255, 255, 255, 1);
  box-shadow: inset 0px 162px 40px -154px rgba(255, 255, 255, 1);
  transform: rotate(-45deg) translatex(0px) translateY(-200px);
  z-index: 30;
  top: 0;
  left: 0;
}
.glow_line_animated {
  animation: glow_line 1s forwards;
}
@keyframes glow_line {
  0% {
    transform: rotate(-45deg) translatex(0px) translateY(-200px);
  }
  100% {
    transform: rotate(-45deg) translatex(0px) translateY(470px);
  }
}
.svg_block {
  transition: all;
  opacity: 1;
}
.block_step1 {
  opacity: 0;
  animation: mine 1.5s forwards;
  animation-delay: 1.5s;
  transform: scale(1);
  opacity: 1;
}
@keyframes mine {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1.18);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
.blocks_step1 {
  animation: blocksStep1 0.5s ease forwards;
  animation-delay: 1s;
}
@keyframes blocksStep1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
.active_tab {
  background: linear-gradient(#151b2e 0 0) padding-box,
    linear-gradient(90deg, #0095ff, #0855c4) border-box;
  border: 2px solid transparent;
}

/* elements */
.cross {
  transform: scale(0) rotate(360deg);
}
.crossVisible {
  animation: crossDet 1s ease forwards;
  animation-delay: 1.2s;
}
.crossHidden {
  transform: scale(0) rotate(360deg);
}
.crossDet {
  animation: crossDet 1s ease forwards;
  animation-delay: 2.8s;
}
@keyframes crossDet {
  0% {
    transform: scale(0) rotate(360deg);
  }
  75% {
    transform: scale(1.15) rotate(0);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

.star {
  transform: scale(0) rotate(360deg);
}
.starVisible {
  animation: starsDet 1s ease forwards;
  animation-delay: 1.2s;
}
.starHidden {
  transform: scale(0) rotate(360deg);
}
@keyframes starsDet {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

/* left 30 */
/* @keyframes a0_t_cr_i{0%{transform:translate(28px,28px) rotate(180deg);animation-timing-function:cubic-bezier(0,0,.58,1)}71.4285%{transform:translate(28px,28px) rotate(-5deg)}to{transform:translate(28px,28px) rotate(0deg)}}@keyframes krest_t_cr_i{0%{transform:scale(0,0) translate(-28px,-28px)}42.8571%,to{transform:scale(1,1) translate(-28px,-28px)}71.4285%{transform:scale(1.15,1.15) translate(-28px,-28px);animation-timing-function:cubic-bezier(0,0,.58,1)}}@keyframes a1_t_cr_i{0%{transform:translate(17.3511px,39px) rotate(0deg) scale(.438128,.423532) translate(-14.3863px,-37.0446px)}to{transform:translate(14.3863px,37.0446px) rotate(0deg) scale(1,1) translate(-14.3863px,-37.0446px)}}@keyframes a2_t_cr_i{0%{transform:translate(15.8726px,16.8036px) rotate(0deg) scale(.440469,.440469) translate(-19.2722px,-19.7496px)}to{transform:translate(19.2722px,19.7496px) rotate(0deg) scale(1,1) translate(-19.2722px,-19.7496px)}}@keyframes a3_t_cr_i{0%{transform:translate(37px,18.2131px) rotate(0deg) scale(.461347,.461347) translate(-40.0446px,-20.5702px)}to{transform:translate(40.0446px,20.5702px) rotate(0deg) scale(1,1) translate(-40.0446px,-20.5702px)}}@keyframes a4_t_cr_i{0%{transform:translate(29.3877px,32.5041px) rotate(-45.565409deg) scale(.403058,.403058) translate(-31.3472px,-29.0394px)}to{transform:translate(31.3472px,29.0394px) rotate(0deg) scale(1,1) translate(-31.3472px,-29.0394px)}}@keyframes a5_t_cr_i{0%{transform:translate(27.9335px,28.2933px) rotate(0deg) scale(1.122601,1.122601) translate(-27.9335px,-28.2933px)}28.5714%{transform:translate(27.9335px,28.2933px) rotate(-4.682578deg) scale(1.087572,1.087572) translate(-27.9335px,-28.2933px)}71.4285%{transform:translate(27.9335px,28.2933px) rotate(0deg) scale(1.035029,1.035029) translate(-27.9335px,-28.2933px)}to{transform:translate(27.9335px,28.2933px) rotate(0deg) scale(1,1) translate(-27.9335px,-28.2933px)}} */
